html {
            font-family: Arial;
            font-size: 10px;
        }

.gridbuttons {
       background-color: #000;
            color: white;
       border-style: solid;
       border-width: 1px;
       border-color: #000;
       font-size: 10px;
   }
.linkbuttons {
    display: inline-block;   
    background-color: #a0a0a0;
        color: #000;
       border-style: solid;
       border-width: 1px;
       border-color: #000;
       font-size: 10px;
       padding: 10px 10px 10px 10px;
       text-decoration: none;
   }
 .dropdownlist {
            width: 95%;
            padding: 5px 5px;
            margin: 2px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 27px;
            /*box-sizing: border-box;*/
        }